
<mat-toolbar color="primary-yellow">
  <mat-toolbar-row>
    
    <h1>Video Game DB</h1>
    <span class="menu-spacer"></span>
    <div>
      <button mat-button [routerLink]="['/create']" color="Warn">Add Title</button>
      <button mat-button [routerLink]="['/read']">View All</button>
      <button mat-button [routerLink]="['/review']">See Reviews</button>
			<button mat-button [routerLink]="['/adventure']">Adventure</button>
    
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">Here you can navigate our library</span>
    </mat-toolbar-row>
</mat-toolbar>



<router-outlet></router-outlet>

