
<mat-toolbar color="primary-grey">
  <mat-toolbar-row>
    
    <h1>Video Game DB</h1>
    <span class="menu-spacer"></span>
    <div>
      <button mat-button [routerLink]="['/create']" color="Warn">Create</button>
      <button mat-button [routerLink]="['/read']">Read</button>
      <button mat-button [routerLink]="['/read']">Read</button>
      <button mat-button [routerLink]="['/read']">Read</button>
      <button mat-button [routerLink]="['/read']">Read</button>
    
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">Here you can navigate our library</span>
    </mat-toolbar-row>
</mat-toolbar>



<router-outlet></router-outlet>

