
 <mat-form-field class="filter">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
<ng-container  multi="true" *ngIf="MyGames.length > 0">
<mat-accordion class="headers-align" *ngFor="let game of MyGames">

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3> {{ game.title }} </h3>
            </mat-panel-title>
            <mat-panel-description>
                <h3>{{ game.year }}</h3>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img src='{{game.poster}}'>
        <mat-action-row>
  <button mat-button [routerLink]="['/edit', game._id]" color="white">EDIT</button>
  <button mat-button (click)="onDelete(game._id)" color="warn">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

</ng-container>

<p class="info-text mat-body-1" *ngIf="MyGames.length <= 0">Nothing added yet!</p>