<mat-accordion *ngFor="let game of MyGames">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3> {{ game.title }} </h3>
            </mat-panel-title>
            <mat-panel-description>
                <h3>{{ game.year }}</h3>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img src="{{game.poster}}">
        <mat-action-row>
  <button mat-button [routerLink]="['/edit', game._id]" color="primary">EDIT</button>            <button mat-button color="warn">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>