mat-expansion-panel-header.mat-expanded {
    background: yellow;
}
h3{
    color: black;
    margin:0 auto;
}
    .mat-expansion-panel-header {
    background: rgb(142, 147, 151);
    }

    .headers-align .mat-expansion-panel-header-title,
    .headers-align .mat-expansion-panel-header-description {
      flex-basis: 0;
     }

   .headers-align .mat-expansion-panel-header-description {
     justify-content: space-between;
     align-items: center;
    }

   mat-form-field {
    margin-right: 12px;
   }

   .filter{
       background-color: rgb(142, 147, 151);
       width: 100%;
   }

   .genretitle{
       font-size: 3em;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       background-color:rgb(142, 147, 151) ;
       color: yellow;
        margin: 0 auto;
       }