<mat-card>
    <form (submit)="onEditGame(gameForm)" #gameForm="ngForm">
        <mat-form-field>
            <label> Title</label>
            <input matInput type="text" name="title" ngModel={{game.title}} required #title="ngModel">
        </mat-form-field>
        <mat-form-field>
            <label>Year</label>
            <textarea matInput name="year" ngModel={{game.year}} required #content="ngModel"></textarea>
        </mat-form-field>

    <mat-form-field>
            <label>Genre</label>
            <textarea matInput name="genre" ngModel={{game.genre}} required #content="ngModel"></textarea>
        </mat-form-field>
<mat-form-field>
         <label>Rating</label>
      <textarea matInput  name="rating" ngModel={{game.rating}} ngModel required #content="ngModel"></textarea>

    </mat-form-field>

        <mat-form-field>
            <label>Art</label>
            <textarea matInput rows="4" name="poster" ngModel={{game.poster}} required #content="ngModel"></textarea>
        </mat-form-field>
        <mat-form-field>
        <label>Review</label>
      <textarea matInput  name="review" ngModel={{game.review}} ngModel required #content="ngModel"></textarea>

    </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Update Game</button>
    </form>
</mat-card>